{% extends 'predict_price/base.html' %}
{% block content %}

<div class="seoul_map">
    <img src="static/predict_price/images/0.jpg" alt="서울시지도" usemap="#city-map" id="seoul-city-map">
    <map name='city-map' id="city-map-link">
        <area shape="poly" coords="350,9,368,8,375,21,387,15,402,23,394,46,394,64,408,101,404,107,397,94,390,121,363,94,350,93,353,54,342,37,339,21,349,9" href="#" alt="도봉구" class="link_map" id="map_10" onclick="selectImg({{gu_dong_group}}, '도봉구')" onmouseover="changeImg('static/predict_price/images/10.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="335,34,349,55,347,93,360,99,396,136,375,159,367,155,361,159,353,151,343,149,338,139,309,114,304,102,307,96,302,81,318,64,318,42,334,33" href="#" alt="강북구" class="link_map" id="map_3" onclick="selectImg({{gu_dong_group}}, '강북구')" onmouseover="changeImg('static/predict_price/images/3.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="393,126,399,107,407,113,412,104,402,70,397,54,407,26,417,16,430,18,441,13,452,27,464,30,456,40,456,48,462,57,462,68,455,75,458,101,479,100,486,108,486,126,473,137,461,145,449,143,415,149,393,126" href="#" alt="노원구" class="link_map" id="map_9" onclick="selectImg({{gu_dong_group}}, '노원구')" onmouseover="changeImg('static/predict_price/images/9.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="193,214,209,198,216,204,231,185,247,169,259,160,259,136,288,122,256,81,218,102,203,99,193,195,172,196" href="#" alt="은평구" class="link_map" id="map_22" onclick="selectImg({{gu_dong_group}}, '은평구')" onmouseover="changeImg('static/predict_price/images/22.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="197,219,209,204,219,208,241,183,249,174,259,169,269,184,269,207,264,216,281,237,273,246,236,250,232,238,211,231,197,219" href="#" alt="서대문구" class="link_map" id="map_14" onclick="selectImg({{gu_dong_group}}, '서대문구')" onmouseover="changeImg('static/predict_price/images/14.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="166,196,214,237,228,241,234,252,275,253,279,261,256,288,226,275,212,276,139,222,162,208,165,196" href="#" alt="마포구" class="link_map" id="map_13" onclick="selectImg({{gu_dong_group}}, '마포구')" onmouseover="changeImg('static/predict_price/images/13.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="265,139,264,166,273,181,274,204,269,217,284,232,291,230,358,226,357,219,339,215,329,195,315,196,294,178,292,172,307,170,302,140,290,129,264,137" href="#" alt="종로구" class="link_map" id="map_23" onclick="selectImg({{gu_dong_group}}, '종로구')" onmouseover="changeImg('static/predict_price/images/23.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="278,251,289,234,360,231,363,237,339,268,329,261,323,264,299,253,278,250" href="#" alt="중구" class="link_map" id="map_24" onclick="selectImg({{gu_dong_group}}, '중구')" onmouseover="changeImg('static/predict_price/images/24.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="286,258,305,260,322,269,329,267,348,288,312,323,301,321,268,309,260,290,269,284,286,258" href="#" alt="용산구" class="link_map" id="map_21" onclick="selectImg({{gu_dong_group}}, '용산구')" onmouseover="changeImg('static/predict_price/images/21.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="297,126,308,120,337,148,350,156,357,163,377,163,399,141,411,154,426,154,422,163,384,185,361,215,353,211,340,208,331,192,320,190,299,180,314,166,309,148,297,126" href="#" alt="성북구" class="link_map" id="map_17" onclick="selectImg({{gu_dong_group}}, '성북구')" onmouseover="changeImg('static/predict_price/images/17.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="427,165,387,187,380,193,380,202,364,215,364,226,371,228,387,223,407,237,431,241,437,216,423,193,426,165" href="#" alt="동대문구" class="link_map" id="map_11" onclick="selectImg({{gu_dong_group}}, '동대문구')" onmouseover="changeImg('static/predict_price/images/11.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="366,232,387,228,404,241,430,245,411,290,365,275,352,285,342,273,359,252,365,249,366,234" href="#" alt="성동구" class="link_map" id="map_16" onclick="selectImg({{gu_dong_group}}, '성동구')" onmouseover="changeImg('static/predict_price/images/16.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="430,152,434,172,427,193,440,207,440,225,456,229,471,220,469,211,492,187,486,178,497,172,491,163,489,152,481,142,465,149,450,149,430,152" href="#" alt="중랑구" class="link_map" id="map_25" onclick="selectImg({{gu_dong_group}}, '중랑구')" onmouseover="changeImg('static/predict_price/images/25.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="440,229,453,234,471,226,471,235,469,241,475,253,487,250,486,264,456,302,440,302,432,303,414,293,439,230" href="#" alt="광진구" class="link_map" id="map_6" onclick="selectImg({{gu_dong_group}}, '광진구')" onmouseover="changeImg('static/predict_price/images/6.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="79,278,93,267,108,301,139,297,138,288,135,279,136,264,149,261,150,269,160,268,156,263,156,257,113,223,75,199,55,175,46,184,53,196,29,226,30,234,20,238,18,248,6,258,37,272,46,282,61,273,79,278" href="#" alt="강서구" class="link_map" id="map_4" onclick="selectImg({{gu_dong_group}}, '강서구')" onmouseover="changeImg('static/predict_price/images/4.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="91,276,105,305,142,302,143,285,139,278,139,269,145,268,153,273,165,272,176,284,173,301,161,305,161,318,152,336,141,339,126,329,103,339,96,336,95,332,84,330,91,303,81,288,91,276" href="#" alt="양천구" class="link_map" id="map_19" onclick="selectImg({{gu_dong_group}}, '양천구')" onmouseover="changeImg('static/predict_price/images/19.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="87,336,99,344,127,336,140,342,153,342,162,327,179,332,180,363,195,375,185,384,164,372,154,371,146,362,115,381,114,396,102,387,73,393,86,368,74,366,69,355,86,336" href="#" alt="구로구" class="link_map" id="map_7" onclick="selectImg({{gu_dong_group}}, '구로구')" onmouseover="changeImg('static/predict_price/images/7.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="165,324,166,308,178,303,181,286,162,266,162,260,198,290,224,293,253,315,228,323,221,333,221,345,206,357,195,372,183,360,182,329,165,324" href="#" alt="영등포구" class="link_map" id="map_20" onclick="selectImg({{gu_dong_group}}, '영등포구')" onmouseover="changeImg('static/predict_price/images/20.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="201,370,223,348,224,333,231,327,254,318,296,339,307,348,301,387,290,387,278,377,275,360,258,359,241,363,230,359,224,366,202,370" href="#" alt="동작구" class="link_map" id="map_12" onclick="selectImg({{gu_dong_group}}, '동작구')" onmouseover="changeImg('static/predict_price/images/12.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="199,378,204,374,224,372,232,364,244,366,259,363,271,363,274,377,287,390,295,393,299,393,310,409,312,420,266,453,255,453,244,453,235,441,226,419,214,420,208,394,213,390,199,378" href="#" alt="관악구" class="link_map" id="map_5" onclick="selectImg({{gu_dong_group}}, '관악구')" onmouseover="changeImg('static/predict_price/images/5.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="157,375,179,387,198,384,206,389,201,396,212,423,222,424,229,435,209,453,209,456,187,458,190,447,173,423,177,413,168,408,159,394,157,375" href="#" alt="금천구" class="link_map" id="map_8" onclick="selectImg({{gu_dong_group}}, '금천구')" onmouseover="changeImg('static/predict_price/images/8.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="303,339,312,351,305,392,315,414,325,415,325,404,335,404,346,426,359,423,374,407,384,441,382,449,390,458,428,458,432,449,449,446,453,432,463,419,448,400,446,393,423,405,403,408,396,404,398,393,386,377,374,375,355,333,354,318,348,311,313,339,303,338" href="#" alt="서초구" class="link_map" id="map_15" onclick="selectImg({{gu_dong_group}}, '서초구')" onmouseover="changeImg('static/predict_price/images/15.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="352,309,360,324,358,333,376,372,388,372,403,393,401,402,407,404,445,389,464,411,494,417,502,408,470,362,446,357,442,351,425,348,423,318,403,303,369,290,352,309" href="#" alt="강남구" class="link_map" id="map_1" onclick="selectImg({{gu_dong_group}}, '강남구')" onmouseover="changeImg('static/predict_price/images/1.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="426,318,430,342,471,356,506,402,516,405,511,393,515,390,527,394,537,379,552,366,554,348,541,341,529,345,525,336,525,321,492,302,495,290,488,284,472,311,448,318,427,318" href="#" alt="송파구" class="link_map" id="map_18" onclick="selectImg({{gu_dong_group}}, '송파구')" onmouseover="changeImg('static/predict_price/images/18.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
        <area shape="poly" coords="491,278,508,237,531,232,545,229,566,213,574,217,579,234,582,248,585,266,579,272,558,275,548,281,548,288,538,305,527,317,497,299,501,288,493,278" href="#" alt="강동구" class="link_map" id="map_2" onclick="selectImg({{gu_dong_group}}, '강동구')" onmouseover="changeImg('static/predict_price/images/2.jpg')", onmouseout="changeImg('static/predict_price/images/0.jpg')">
    </map>
</div>
<br>


<form action="{% url 'predict_price:inprocess' %}" method="POST">
    {% csrf_token %}

    <div class="input_data">
        <span>
            자치구명
            <input type="text" id="change_input_gu" name="select_input_gu"/>
        </span>
        <span>
            법정동명
            <input type="text" id="change_input_dong" name="select_input_dong"/>
            <select id="change_test_dong" onchange="select_dong_change(this.value, {{dong_name_group}});">
            </select>
        </span>
        <span>
            아파트명
            <input type="text" id="change_input_apt" name="select_input_apt"/>
            <select id="change_test_apt" onchange="select_apt_change(this.value);">
            </select>
        </span>
        <span>
            건물면적
            <input type="text" id="change_input_size" name="select_input_size"/>
            <select id="change_test_size" onchange="select_size_change(this.value);">
            {% for i in size_list %}
                <option value={{ i.size }}> {{ i.size }} </option>
            <!--    <option value="10평대">10평대</option>
                <option value="20평대">20평대</option>
                <option value="30평대">30평대</option>
                <option value="40평대">40평대</option> -->
                console.log(i.size)
            {% endfor %}
            </select>
        </span>
    </div>
    <br>
    <br>
    <button type="submit">Predict!</button>   
</form>
<br>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<script>
    var select_dong_change = function(value, dong_name_group){
        console.log("값변경테스트:" + value);
        $("#change_input_dong").val(value);

        var data_name = dong_name_group[value]
        var select_apt = document.querySelector('#change_test_apt'); // ${"#change_test_dong"}
        
        select_apt.options.length = 0;
        
        for (var i = 0; i < data_name.length; i++) {
            var option_name = document.createElement('option');
            option_name.innerText = data_name[i];
            select_apt.append(option_name);
        }        
    }

    var select_apt_change = function(value){
        console.log("값변경테스트:" + value);
        $("#change_input_apt").val(value);
    }

    var select_size_change = function(value){
        console.log("값변경테스트:" + value);
        $("#change_input_size").val(value);
    }

    function changeImg(img){
        var map_img = document.getElementById('seoul-city-map');
        map_img.src = img;
       }
       
    // function changeImg1(obj, img){
    //    var mapimg1 = document.getElementById('map1');
    //    mapimg1.src = img;
    // }

    function selectImg(gu_dong_group, gu){
        $("#change_input_gu").val(gu);
    //    alert(gu);

        var data_dong = gu_dong_group[gu];
        var select_dong = document.querySelector('#change_test_dong'); // ${"#change_test_dong"}
        
        select_dong.options.length = 0;
        
        for (var i = 0; i < data_dong.length; i++) {
            var option_dong = document.createElement('option');
            option_dong.innerText = data_dong[i]; // == option_dong.value = data_dong[i];
            select_dong.append(option_dong);
        }
    }

</script>

{% endblock %}